# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Doc
Hello I may not have the usual request to you
the fact is that a few months ago I opened
a bank account and I was issued a credit card
an employee of the bank fraudulently managed to withdraw from my
accounts 2500.00 USD you can help
should I return this amount and punish this one
a fraud!
 


